<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg bg-primary" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#">
          Algo1Mendez </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="javascript:void(0)" onclick="scrollToInfo()">Info</a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:void(0)" onclick="scrollToMaterial()">Material</a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:void(0)" onclick="scrollToCronograma()">Cronograma</a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:void(0)" onclick="scrollToDocentes()">Docentes</a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:void(0)" onclick="scrollToEvaluaciones()">Evaluaciones</a></li>
          <li class="nav-item"><a class="nav-link" href="http://rpl.algoritmos7540mendez.com.ar/web-app/#!/" target="_blank">RPL</a></li>
          <li class="nav-item"><a class="nav-link" href="https://alumnos7540mendez.slack.com" target="_blank">Slack</a></li>
          <li class="nav-item"><a class="nav-link" href="http://tps.algoritmos7540mendez.com.ar" target="_blank">Kwyjibo</a></li>
          <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/channel/UCRXcp7q4qKkLvtOH7tysdgA" target="_blank"><i class="fa fa-youtube"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/algoritmos.mendez" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>