

  <footer class="footer" data-background-color="black">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="javascript:void(0)" onclick="scrollToInfo()">
              Info
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="scrollToMaterial()">
              Material
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="scrollToCronograma()">
              Cronograma
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="scrollToDocentes()">
              Docentes
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="scrollToEvaluaciones()">
              Evaluaciones
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        2020, hecho con <i class="material-icons">favorite</i> por
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="./assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="./assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="./assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/material-kit.js?v=2.0.6" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      //init DateTimePickers
      materialKit.initFormExtendedDatetimepickers();

      // Sliders Init
      materialKit.initSliders();
    });


    function scrollToDownload() {
      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }

    function scrollToInfo() {
      if ($('#info').length != 0) {
        $("html, body").animate({
          scrollTop: $('#info').offset().top
        }, 1000);
      }
    }

    function scrollToMaterial() {
      if ($('#material').length != 0) {
        $("html, body").animate({
          scrollTop: $('#material').offset().top
        }, 1000);
      }
    }

    function scrollToCronograma() {
      if ($('#cronograma').length != 0) {
        $("html, body").animate({
          scrollTop: $('#cronograma').offset().top
        }, 1000);
      }
    }

    function scrollToDocentes() {
      if ($('#docentes').length != 0) {
        $("html, body").animate({
          scrollTop: $('#docentes').offset().top
        }, 1000);
      }
    }
    function scrollToEvaluaciones() {
      if ($('#evaluaciones').length != 0) {
        $("html, body").animate({
          scrollTop: $('#evaluaciones').offset().top
        }, 1000);
      }
    }

  </script>

